@use '../abstracts' as v;
@use '../abstracts/mixins' as m;

.blog-aside {
  margin-bottom: v.$blog-aside-margin-xl;

  &__title {
    font-family: v.$font-heading;
    font-size: v.$blog-aside-font-xl;
    line-height: v.$blog-aside-line-height-xl;
    color: v.$color-white;
    margin-bottom: v.$blog-aside-margin-md;
    @include m.responsive-text(v.$blog-aside-font-xl, 22px, 20px);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: v.$blog-aside-margin-lg;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: v.$color-white;
    font-family: v.$font-base;
    font-size: v.$blog-aside-font-md;
    padding: v.$blog-aside-padding-xs;
  }
}

.tags__title {
  font-family: v.$font-heading;
  font-size: v.$blog-aside-font-lg;
  color: v.$color-white;
  margin-bottom: v.$blog-aside-margin-sm;
}

.tags__list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: v.$blog-aside-margin-sm;
  }
}

.tags__btn {
  @include m.button(
    $bg: v.$color-primary,
    $color: v.$color-white,
    $radius: v.$radius-sm,
    $padding: v.$blog-aside-padding-sm
  );
}
